--
-- PostgreSQL database dump
--

\restrict YvtgF64afXZZbfqQ0EVWPx3y4xnquDeC1N4s0HFTuGEvpS4JmGZ9uraEn71y4Hv

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg12+1)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: financasdb_t9sa_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO financasdb_t9sa_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.categoria (
    id bigint NOT NULL,
    nome character varying(255),
    tipo character varying(255)
);


ALTER TABLE public.categoria OWNER TO financasdb_t9sa_user;

--
-- Name: categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: conta; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.conta (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL
);


ALTER TABLE public.conta OWNER TO financasdb_t9sa_user;

--
-- Name: conta_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.conta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.conta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: despesa_fixa; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.despesa_fixa (
    id bigint NOT NULL,
    descricao character varying(120),
    dia_vencimento integer,
    fim_recorrencia date,
    valor numeric(10,2),
    categoria_id bigint,
    conta_id bigint,
    responsavel_id bigint,
    inicio_recorrencia date,
    tipo_pagamento character varying(10) DEFAULT 'DEBITO'::character varying
);


ALTER TABLE public.despesa_fixa OWNER TO financasdb_t9sa_user;

--
-- Name: despesa_fixa_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.despesa_fixa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.despesa_fixa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lancamento; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.lancamento (
    id bigint NOT NULL,
    data date NOT NULL,
    data_fim_recorrencia date,
    descricao character varying(255),
    parcelado boolean NOT NULL,
    parcelas_faltantes integer,
    recorrente boolean NOT NULL,
    tipo character varying(255) NOT NULL,
    valor numeric(38,2) NOT NULL,
    categoria_id bigint,
    conta_ou_cartao_id bigint,
    responsavel_id bigint,
    CONSTRAINT lancamento_parcelas_faltantes_check CHECK ((parcelas_faltantes >= 1))
);


ALTER TABLE public.lancamento OWNER TO financasdb_t9sa_user;

--
-- Name: lancamento_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.lancamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lancamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: parametro; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.parametro (
    id bigint NOT NULL,
    chave character varying(255) NOT NULL,
    valor character varying(255) NOT NULL
);


ALTER TABLE public.parametro OWNER TO financasdb_t9sa_user;

--
-- Name: parametro_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.parametro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.parametro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: responsavel; Type: TABLE; Schema: public; Owner: financasdb_t9sa_user
--

CREATE TABLE public.responsavel (
    id bigint NOT NULL,
    nome character varying(255) NOT NULL
);


ALTER TABLE public.responsavel OWNER TO financasdb_t9sa_user;

--
-- Name: responsavel_id_seq; Type: SEQUENCE; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE public.responsavel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.responsavel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--

COPY public.categoria (id, nome, tipo) FROM stdin;
2	EDUCA├ç├âO	DESPESA
5	CASA	DESPESA
1	SAL├üRIO	RECEITA
7	INSS - GABRIELA	DESPESA
8	CARRO	DESPESA
9	CELULAR	DESPESA
10	LAZER	DESPESA
6	ADIANTAMENTO SALARIAL	RECEITA
11	RECEITA (OUTROS)	RECEITA
12	DESPESA (OUTROS)	DESPESA
13	VALE ALIMENTA├ç├âO	RECEITA
14	F├ëRIAS	RECEITA
15	D├ëCIMO TERCEIRO	RECEITA
16	CART├âO DE CR├ëDITO	DESPESA
17	AUX├ìLIO INTERNET GLOBANT	RECEITA
18	STREAMING	DESPESA
19	ACADEMIA	DESPESA
\.


--
-- Data for Name: conta; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--

COPY public.conta (id, nome) FROM stdin;
1	001 - Banco do Brasil S.A. (BB)
5	033 - Banco Santander (Brasil) S.A. (SAN)
6	104 - \tCaixa Econ├┤mica Federal (CEF)
7	260 - NU Pagamentos S.A. (NU)
8	341 - \tIta├║ Unibanco S.A. (ITA)
9	Alelo
\.


--
-- Data for Name: despesa_fixa; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--



--
-- Data for Name: lancamento; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--



--
-- Data for Name: parametro; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--

COPY public.parametro (id, chave, valor) FROM stdin;
\.


--
-- Data for Name: responsavel; Type: TABLE DATA; Schema: public; Owner: financasdb_t9sa_user
--

COPY public.responsavel (id, nome) FROM stdin;
1	Paulo
2	Gabriela
\.


--
-- Name: categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.categoria_id_seq', 19, true);


--
-- Name: conta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.conta_id_seq', 9, true);


--
-- Name: despesa_fixa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.despesa_fixa_id_seq', 16, true);


--
-- Name: lancamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.lancamento_id_seq', 6, true);


--
-- Name: parametro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.parametro_id_seq', 1, false);


--
-- Name: responsavel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: financasdb_t9sa_user
--

SELECT pg_catalog.setval('public.responsavel_id_seq', 2, true);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id);


--
-- Name: conta conta_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.conta
    ADD CONSTRAINT conta_pkey PRIMARY KEY (id);


--
-- Name: despesa_fixa despesa_fixa_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.despesa_fixa
    ADD CONSTRAINT despesa_fixa_pkey PRIMARY KEY (id);


--
-- Name: lancamento lancamento_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.lancamento
    ADD CONSTRAINT lancamento_pkey PRIMARY KEY (id);


--
-- Name: parametro parametro_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.parametro
    ADD CONSTRAINT parametro_pkey PRIMARY KEY (id);


--
-- Name: responsavel responsavel_pkey; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.responsavel
    ADD CONSTRAINT responsavel_pkey PRIMARY KEY (id);


--
-- Name: conta uk3p7l3tdjuyv96lm3p11y07rf7; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.conta
    ADD CONSTRAINT uk3p7l3tdjuyv96lm3p11y07rf7 UNIQUE (nome);


--
-- Name: responsavel uk91e2hgho6hq4d9w14xb7cg978; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.responsavel
    ADD CONSTRAINT uk91e2hgho6hq4d9w14xb7cg978 UNIQUE (nome);


--
-- Name: parametro ukswnk8qdpcrirehr59t8itdpto; Type: CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.parametro
    ADD CONSTRAINT ukswnk8qdpcrirehr59t8itdpto UNIQUE (chave);


--
-- Name: despesa_fixa fk5lmbcfh38ugyvrc8yxredqflm; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.despesa_fixa
    ADD CONSTRAINT fk5lmbcfh38ugyvrc8yxredqflm FOREIGN KEY (conta_id) REFERENCES public.conta(id);


--
-- Name: lancamento fkgow95n7wea2ocufqu3sre6fv2; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.lancamento
    ADD CONSTRAINT fkgow95n7wea2ocufqu3sre6fv2 FOREIGN KEY (responsavel_id) REFERENCES public.responsavel(id);


--
-- Name: lancamento fklea09jmtx2hqws9pua8y3v2kt; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.lancamento
    ADD CONSTRAINT fklea09jmtx2hqws9pua8y3v2kt FOREIGN KEY (categoria_id) REFERENCES public.categoria(id);


--
-- Name: despesa_fixa fkm5ryu4062s9mc4q6ifj6g8g7k; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.despesa_fixa
    ADD CONSTRAINT fkm5ryu4062s9mc4q6ifj6g8g7k FOREIGN KEY (responsavel_id) REFERENCES public.responsavel(id);


--
-- Name: despesa_fixa fkmnm9jih0nenrt0ettqb4bhght; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.despesa_fixa
    ADD CONSTRAINT fkmnm9jih0nenrt0ettqb4bhght FOREIGN KEY (categoria_id) REFERENCES public.categoria(id);


--
-- Name: lancamento fkouv28oploa0fs16lh23tellgm; Type: FK CONSTRAINT; Schema: public; Owner: financasdb_t9sa_user
--

ALTER TABLE ONLY public.lancamento
    ADD CONSTRAINT fkouv28oploa0fs16lh23tellgm FOREIGN KEY (conta_ou_cartao_id) REFERENCES public.conta(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO financasdb_t9sa_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO financasdb_t9sa_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO financasdb_t9sa_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO financasdb_t9sa_user;


--
-- PostgreSQL database dump complete
--

\unrestrict YvtgF64afXZZbfqQ0EVWPx3y4xnquDeC1N4s0HFTuGEvpS4JmGZ9uraEn71y4Hv

