.custom-scroll {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

/* ainda permite scroll via mouse, touch ou teclado */
.custom-scroll {
  -ms-overflow-style: none; /* Internet Explorer e Edge antigos */
}
